/*Step 54,82,88*/
:root{
  --penguin-face:white;
  --penguin-picorna:orange;
  --penguin-skin:gray;
}

/*Step 2,3,4,5*/
body{
    background:linear-gradient(45deg, rgb(118, 201, 255), rgb(247, 255, 222));
    margin:0;
    padding:0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  /*Step 14,15,16,17,18*/
  .left-mountain{
    width: 300px;
    height: 300px;
    background:linear-gradient(rgb(203, 241, 228), rgb(80, 183, 255));
    position:absolute;
    transform:skew(0deg,44deg);
    z-index:2;
    margin-top:100px;
  }

  /*Step 20,21,22,23*/
  .back-mountain{
    width: 300px;
    height: 300px;
    background: linear-gradient(rgb(203, 241, 228), rgb(47, 170, 255));
    position: absolute;
    z-index: 1;
    transform:rotate(45deg);
    left:110px;
    top:225px;
  }

    /*Step 25,26,27*/
  .sun{
    width: 200px;
    height: 200px;
    background-color:yellow;
    position:absolute;
    border-radius:50%;
    top:-75px;
    right:-75px;
  }

  /*Step 11,12,29*/
  .penguin{
    width: 300px;
    height: 300px;
    margin:auto;
    margin-top:75px;
    position:relative;
    z-index: 4
    transition-duration: 1s;
    transition-timing-function:ease-in-out;
    transition-delay:0ms;
  }

  /*Step 34*/
  .penguin *{
    position:absolute;
  }

  /*Step 101,102*/
  .penguin:active{
    transform:scale(1.5);
    cursor:not-allowed;
    }

  /*Step 30,31,35,37,88*/
  .penguin-head{
    width:50%;
    height:45%;
    background: linear-gradient(45deg,var(--penguin-skin), rgb(239, 240, 228));
    border-radius:70% 70% 65% 65%;
    top:10%;
    left:25%;
    z-index:1;
  }

  /*Step 45,46,47,55,82*/
  .face{
    width: 60%;
    height: 70%;
    background-color: var(--penguin-face);
    border-radius:70% 70% 60% 60%;
    top:15%;
  }

  /*Step 49*/
  .face.left{
    left:5%;
    }

    /*Step 50*/
    .face.right {
      right: 5%;
    }

    /*Step 52,53,55*/
    .chin{
      width:90%;
      height:70%;
      background-color: var(--penguin-face);
      top:25%;
      left:5%;
      border-radius:70% 70% 100% 100%;
    }

    /*Step 57,58*/
    .eye{
      width:15%;
      height:17%;
      background-color:black;
      top:45%;
      border-radius:50% 50% 50% 50%;
    }

    /*Step 59*/
    .eye.left{
      left:25%;
    }

    /*Step 59*/
    .eye.right{
      right:25%;
    }

    /*Step 61,62*/
    .eye-lid{
      width:150%;
      height:100%;
      background-color:var(--penguin-face);
      top:25%;
      left:-23%;
      border-radius: 50%;
    }

    /*Step 64,65*/
    .blush{
      width: 15%;
      height: 10%;
      background:pink;
      top:65%;
      border-radius: 50%;
    }

    /*Step 66*/
    .blush.left {
      left: 15%;
    }
    
    /*Step 66*/
    .blush.right {
      right: 15%;
    }

    /*Step 68,82*/
    .beak{
      height:10%;
      border-radius: 50%;
      background-color: var(--penguin-picorna);
    }

    /*Step 69*/
    .beak.top{
      width:20%;
      top:60%;
      left:40%;
    }

    /*Step 70*/
    .beak.bottom {
      width: 16%;
      top: 65%;
      left: 42%;
    }

      /*Step 75,77,78*/
     .shirt{
      font: bold 25px Helvetica, sans-serif;
      top: 165px;
      left: 127.5px;
      z-index:1;
      color:#6a6969;
    }

     /*Step 74,76*/
    .shirt div{
      font-weight:normal;
      top:22.5px;
      left:12px;
    }

  /*Step 32,33,36*/
  .penguin-body{
  width: 53%;
  height: 45%;
  background: linear-gradient(
    45deg,
    rgb(134, 133, 133) 0%,
    rgb(234, 231, 231) 25%,
    white 67%
  );
  border-radius: 80% 80% 100% 100%;
  top: 40%;
  left: 23.5%;
}

/*Step 38,39,40,41,42,43,88*/
.penguin-body::before{
  content:"";
  position:absolute;
  width:50%;
  height:45%;
  background-color:var(--penguin-skin);
  top:10%;
  left:25%;
  border-radius: 0% 0% 100% 100%;
  opacity:70%;
  }

  /*Step 87,88,93,94*/
  .arm{
    width:30%;
    height:60%;
    background: linear-gradient(
      90deg,
      var(--penguin-skin),
      rgb(209, 210, 199)
    );
    border-radius: 30% 30% 30% 120%;
    z-index:-1;
  }

  /*Step 89,90,91,100*/
  .arm.left{
    top:35%;
    left:5%;
    transform-origin:0% 0%;
    transform:rotate(130deg) scaleX(-1);
    animation-name:wave;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
  }
  
  /*Step 89,92*/
  .arm.right{
    top:0%;
    right:-5%;
    transform: rotate(-45deg);
  }

  /*Step 80,81,85*/
  .foot{
    width:15%;
    height:30%;
    background-color: var(--penguin-picorna);
    top:85%;
    border-radius: 50%;
    z-index:-1;
  }

  /*Step 83,84*/
  .foot.left{
    left:25%;
    transform: rotate(80deg);
  }
  
  /*Step 83,84*/
  .foot.right{
    right:25%;
    transform: rotate(-80deg);
  }

    /*Step 7,8,9,18,104*/
  .ground{
    width: 100vw;
    height: calc(100vh - 300px);
    background: linear-gradient(90deg, rgb(88, 175, 236), rgb(182, 255, 255));
    z-index:3;
    position:absolute;
    margin-top:-58x;
  }

  /*Step 95,96,97,98,99*/
  @keyframes wave{

    10%{
      transform: rotate(110deg) scaleX(-1);
    }
    20%{
      transform: rotate(130deg) scaleX(-1);
    }
    30%{
      transform: rotate(110deg) scaleX(-1);
    }
    40%{
      transform: rotate(130deg) scaleX(-1);
    }
    
  }